body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #d0f183;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(25, 28, 17, 0.1);
    display: grid;
}

form {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

label {
    font-weight: bold;
}

input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    
    border-radius: 4px;
    cursor: pointer;
    margin: 5%;
    
}

button:hover {
    background-color: #0056b3;
    text-align: center;
}

#userDataDisplay {
    margin-top: 20px;
    display: flex;
    border: black;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}
h1{
    text-align: center;

}